<main id="main">

	<div class="container">

        {{ if .Site.Params.showSubheader }}
            {{ partial "subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.showServices }}
            {{ partial "services.html" . }}
						{{ partial "services_download.html" . }}
        {{ end }}

        {{ if .Site.Params.showRecentWorks }}
            {{ partial "recentworks.html" . }}
						{{ partial "works_download.html" . }}
        {{ end }}

        {{ if .Site.Params.showClients }}
            {{ partial "clients.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
