<div class="row section recentworks topspace">

    {{ range .Site.Menus.main }}
      {{ if (eq .URL "/work/")}}
        <h2 class="section-title"><span>{{ .Name }}</span></h2>
      {{ end }}
    {{ end }}

    <div class="owl-carousel">

        {{ range $index, $area := .Site.Data.recentworks }}
            <div class="text-center">
              <img src="{{ .Site.BaseURL }}{{ .image }}"/>
              <span>{{ $area.name }}</span>
            </div>
        {{ end }}

    </div> <!-- /section -->
    <br />
    <div class="text-right">
      <a class="btn btn-primary btn-lg more-detail-btn" href="/work/">ดูรายละเอียดเพิ่มเติม</a>
    </div>
    <br />
</div>
