<div class="row section featured topspace">
    <h2 class="section-title"><span>ผลิตภัณฑ์</span></h2>
    <div class="row">
      {{ $BaseURL := .Site.BaseURL }}
        {{ range .Site.Data.products }}
            <div class="col-sm-12 col-md-6">
                <div class="product-section text-center">
                  <h3>{{ .title }}</h3>
                  <div>
                    <a href="/product/#{{ .url_id }}"><img class="product-thumbnail-image" src="{{ $BaseURL }}images/{{ .front_image }}"/></a>
                  </div>
                </div>
                <br />
            </div>
        {{ end }}
    </div>
    <div class="text-right">
      <a class="btn btn-primary btn-lg more-detail-btn" href="/product/">ดูรายละเอียดเพิ่มเติม</a>
    </div>
</div> <!-- / section -->
