<div class="row section featured topspace">
    <h2 class="section-title"><span>ผลิตภัณฑ์</span></h2>
    <div class="row">
      {{ $BaseURL := .Site.BaseURL }}
        {{ range .Site.Data.products }}
            <div class="col-sm-12 col-md-6">
                <div class="product-section text-center">
                  <h3>{{ .title }}</h3>
                  <div>
                    <img class="product-thumbnail-image" src="{{ $BaseURL }}images/{{ .front_image }}"/>
                  </div>
                  <a class="btn btn-primary btn-lg" href="/product">ดูเพิ่มเติม</a>
                </div>
            </div>
        {{ end }}
    </div>
</div> <!-- / section -->
