{{ partial "header.html" . }}

<main id="main">

	<div class="container">

		<h2 class="section-title"><span>{{ .Title }}</span></h2>

		<p>
			{{ .Content }}
		</p>

		<div class="thumbnails recentworks row">

			{{ $baseURL := .Site.BaseURL }}

        {{ range $index, $area := .Site.Data.recentworks }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a class="thumbnail" href="{{ .url }}">
                    <span class="img">
                        <img src="{{ $baseURL }}{{ .image }}" alt="">
                        <span class="cover"><span class="more">Ver detalles &rarr;</span></span>
                    </span>
                    <span class="title">{{ .name }}</span>
                </a>
                <span class="details">
                    {{ $len := sub (len .items) 1 }}
                    {{ range $i, $item := where .items "id" .index }}
                        <a href="{{ .url }}">{{ .name }}</a>
                        {{ if gt $len $i }} | {{ end }}
                    {{ end }}
                </span>
                <h4></h4>
                <p></p>
            </div>
        {{ end }}

      </div>
	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
