{{ partial "header.html" . }}

<main id="main">

	<div class="container">
		<h2 class="section-title"><span>{{ .Title }}</span></h2>
		<br />
		<p>
			{{ .Site.Params.productDesc }}
		</p>

		<h3 id="stake-i">เสาเข็มไอ</h3><br />
		<img src="{{ .Site.BaseURL }}images/MKC10_New.jpg" />
		<br /><br />

		<h3 id="stake-square">เสาเข็มรูปสี่เหลี่ยม</h3><br />
		<img src="{{ .Site.BaseURL }}images/MKC11_New.jpg" />
		<br />

		<p>
			{{ .Content }}
		</p>

	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
